* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
}

.fond{
    width: 20.3rem;
    margin: 10rem auto;
}

#rouge, #jaune, #vert, #bleu{
    width: 10rem;
    height: 10rem;
    display: inline-block;
    background-color: #000;
}

#go{
    background-image: url("go.PNG");
    width: 307px;
    height: 181px;
    margin-left: 12rem;
}

#rouge{
    border-radius: 200px 0 0 0;
}

#bleu{
    border-radius: 0 200px 0 0;
}

#vert{
    border-radius: 0 0 0 200px;
}

#jaune{
    border-radius: 0 0 200px 0;
}